@model DemoMVC.Models.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Read a Product detail";
}@*
@using (Html.BeginForm("ReadProduct", "Product", FormMethod.Post))
{
    <table>
        <tr>
            <td>Enter SKU : </td>
            <td>@Html.TextBoxFor(m => m.SKU)</td>
        </tr>
        <tr>
            <td> <input type="submit" value="Submit"></td>

        </tr>
    </table>
}
 *@
<h4>
    @ViewData["Message"]<br />
</h4>
<div class="flex-container justify-content-center">
    <div class="col-md-4 col-sm-6">
        <form asp-controller="Product" asp-action="ReadProduct">
            <div class="form-group">
                <br/>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                </svg>
                <label asp-for="SKU"><h5>SKU : </h5> </label>
                <input asp-for="SKU" placeholder="SKU" />
            </div>
            <br />
            <div class="form-group">
                @Html.AntiForgeryToken()
                <input type="submit" value="Submit" class="btn btn-info" />
            </div>
        </form>
    </div>
    <br/>
    @* <h6>
        @ViewBag.ProductId <br/>
        @ViewBag.SKU <br />
        @ViewBag.ProductName <br />
        @ViewBag.Features <br />
    </h6> *@
 </div>

<br />
<br />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}